{%extends "base.html"%}
{%load static%}
{%block main%}
<h1>Log In</h1>
<div>
    <form action="/login" method="post">
        {%csrf_token%}
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
        <label for="password" name="password">Password</label>
        <input id="password" name="password" type="password">
        <button type="submit">Submit</button>
    </form>
</div>
<div>
    <form action="/signup" method="get">
        <button type="submit">Sign Up</button>
    </form>
</div>
{%endblock%}